certifi==2024.6.2
pytz==2024.1
tzdata==2024.1
pywin32==306
setuptools==65.5.0
pyzmq==26.0.3
packaging==24.1
pip==24.0
ipython==8.25.0
jupyter-client==8.6.2
ipykernel==6.29.4
tornado==6.4.1
psutil==6.0.0
traitlets==5.14.3
jupyter-core==5.7.2
decorator==5.1.1
typing-extensions==4.12.2
platformdirs==4.2.2
idna==3.7
charset-normalizer==3.3.2
prompt-toolkit==3.0.47
requests==2.32.3
pygments==2.18.0
meteomatics==2.11.2
python-dateutil==2.9.0.post0
asttokens==2.4.1
pathlib2==2.3.7.post1
pandas==2.2.2
urllib3==2.2.2
executing==2.0.1
numpy==2.0.0
six==1.16.0
debugpy==1.8.1
nest-asyncio==1.6.0
exceptiongroup==1.2.1
jedi==0.19.1
parso==0.8.4
stack-data==0.6.3
isodate==0.6.1
colorama==0.4.6
wcwidth==0.2.13
comm==0.2.2
pure-eval==0.2.2
matplotlib-inline==0.1.7
sqlalchemy==2.0.31
uvicorn==0.30.1
pydantic==2.7.4
fastapi==0.111.0